@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-emerald-light text-slate-800 antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-emerald-600 text-white font-bold rounded-3xl transition-all 
    active:translate-y-[2px] active:shadow-none hover:bg-emerald-500
    border-b-4 border-emerald-800 shadow-lg;
  }
}
